@import "util/font.scss";
@import "util/variables.scss";

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  border: 0;
}

body {
  font-family: Raleway, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark-text-color;

  * {
    font-size: $medium-font-size;
  }
}
