@import "../util/spacing.scss";
@import "../util/variables.scss";


$avatar-size: 120px;
$avatar-margin: 10px;

.user-profile {
  padding-top: 70px;
  @include margin-responsive();

  .profile-heading, .workshops-heading {
    font-size: $title-font-size;
    color: $primary-color;
    font-weight: $light-font-weight;
    padding: 10px 0 20px 0;
    text-align: center;
  }

  .user-information {
    display: flex;
    justify-content: center;
    align-items: center;
    .about-user {
      flex: 1 1 0;
      padding: 10px;

      .user-name {
        color: $primary-color;
        margin-bottom: 5px;
      }
    }

    .avatar-container {
      margin-right: 20px;
      .avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        border: thin solid $primary-color;
      }
    }
  }

  .skill-summary {
    margin-left: $avatar-size + $avatar-margin;
    padding: 0 10px;
  }

  .rule {
    border-top: thin solid $divider-color;
    margin: 30px 0;
  }

  .workshop-summary {
    display: flex;
    justify-content: space-around;
  }

}
