@font-face {
  font-family: Raleway;
  src: url('../font/Raleway/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('../font/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('../font/Raleway/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('../font/Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
