$primary-color: #FF360E;
$dark-primary-color: #B3260A;
$accent-color: #88C100;
$dark-accent-color: #4B6B00;
$hover-color: #EFF;

$light-text-color: #FFF;

$title-font-size: 3rem;
$large-font-size: 1.5rem;
$medium-font-size: 1rem;

$light-font-weight: 100;
$bold-font-weight: 600;
