@import "../util/spacing.scss";
@import "../util/variables.scss";

$featured-attendee-padding: 30px;
$featured-attendee-inner-margin: 0 20px;
$featured-attendee-avatar-margin: 0 20px;
$content-margin: 0 20px 30px 20px;

.home {
  .login-container {
    @include margin-responsive();
    text-align: center;
  }

  .mission-statement {
    margin: $content-margin;
    @include margin-responsive();
    text-align: center;
    p {
      font-size: $large-font-size;
      font-weight: normal;
      margin: 5px 0;
      em {
        font-size: $large-font-size;
        font-weight: normal;
        color: $primary-color;
      }
    }
  }
}
