@import "../util/spacing";
@import "../util/variables";

.workshops-container {

  .workshops-title {
    text-align: center;
  }

  .workshops {
    list-style: none;
    margin: 10px 0;

    .workshop {
      padding: 10px;

      h1 {
        font-size: $large-font-size;
        color: $accent-color;
        font-weight: $light-font-weight;
        padding: 10px 0;
      }

      h2 {
        font-size: $medium-font-size;
        font-weight: $normal-font-weight;
        padding: 5px 0;
      }

      a {
        color: $dark-text-color;
        display: flex;
        align-items: center;
        &:hover {
          h1 {
            color: $primary-color;
            background: $lightest-text-color;
          }
        }

        .workshop-datetime-container {
          width: 6rem;
          margin-right: 10px;
          padding-right: 10px;
          text-align: center;
          border-right: thin solid $divider-color;
        }
      }
    }
  }
}
